/node_modules/

# Expo
.expo/
.expo-shared/
expo-env.d.ts


# Metro
.metro-cache/
.metro-cache-*/
.metro-health-check*

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# Native build folders
ios/
android/

# Signing / certificates
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# macOS
.DS_Store

# Temp/original files
*.orig.*
